@keyframes loader {
    from {
        transform: rotate(0 deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loader {
    width: 100%;
    img {
        width: 100%;
        animation: loader 2s linear infinite;
    }
}