@import './../../../variables.scss';

.sliderWrapper {
    width: calc(100% - 66px);
    margin: 0 auto;
    display: flex;
    border-radius: 10px;
    border: 2px solid $main-color3;
    overflow: hidden;
    height: 158px;
}

.sliderContainer {
    position: relative;
}

.header {
    padding: 17px 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $main-color3;
}

.columnName {
    color: $main-color2;
}

.slider {
    flex-grow: 1;
}

.slides {
    padding: 17px 0;
}

.slide {
    height: 122px !important;
}

.visibleSlide {
    position: relative;
    left: 2px;
}

.resultList {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 2px solid #d4d4d4;
}

.resultItem {
    font-size: 18px;
}

.back, .next {
    position: absolute;
    top: calc(50% - 20px);
    &[disabled] {
        opacity: 0.4;
    }
}

.back {
    left: -10px;
    transform: scaleX(-1);
}

.next {
    right: -10px;
}

.loading {
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 50px; 
}


.loadingText {
    font-size: 18px;
} 

@media (max-width: 767.98px) {
    .sliderWrapper {
        flex-direction: column;
        height: auto;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);
    }

    .header {
        align-items: center;
        padding: 0;
        flex-direction: row;
        height: 75px;
    }

    .columnName {
        text-align: center;
        width: 29%;
    }

    .columnName:nth-child(1) {
        width: 42%;
    }

    .resultList {
        flex-direction: row;
    }

    .resultItem {
        text-align: center;
        width: 29%;
    }

    .resultItem:nth-child(1) {
        width: 42%;
        font-size: 16px;
    }

    .slide {
        height: 65px !important;
    }

    .slides {
        padding: 0;
    }

    .back, .next {
        top: 86px;
    }

    .loader {
        width: 36px;
    }

    .loadingText {
        display: none;
    }
}