@import './../../../variables.scss';

.form {
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);
    display: flex;
    position: relative;
    padding: 29px 10px 75px;
    gap: 11px;
}

.left {
    &__label {
        font-size: 18px;
        display: block;
        margin-bottom: 20px;
        &.required::after {
            content: '*';
            font-size: 25px;
        }
        cursor: pointer;
    }

    &__input {
        font-size: 14px;
        display: block;
        margin-bottom: 30px;
        padding: 13px 17px;
        border-radius: 5px;
        border: 1px solid #C7C7C7;
        background: #FFF;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
        width: 242px;
        &::placeholder {
            text-align: center;
        }
    }

    &__selectWrap {
        width: 242px;
        position: relative;
    }

    &__selectArrow {
        top: 18px;
        right: 15px;
        position: absolute;
    }

    &__select {
        width: 100%;
        padding: 13px 22px;
        margin-bottom: 30px; 
        font-size: 14px;
        border-radius: 5px;
        border: 1px solid #C7C7C7;
        background: #FFF;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
        appearance: none;
        &::after {
            content: url('./arrow.svg');
            width: 10px;
            height: 10px;
            display: block;
        }
    }

    &__range {
        display: flex;
        gap: 20px;
    }

    &__rangeWrap {
        position: relative;
    }

    &__rangeSelect  {
        max-width: 176px;
        & > [class~="p-inputtext"] {
            width: 100%;
            font-size: 14px;
            padding: 13px 42px;
            border-radius: 5px;
            border: 1px solid #C7C7C7;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
        }        
    }

    &__rangeArrow {
        top: 18px;
        right: 15px;
        position: absolute;
    }
}

* > [class~="p-datepicker"] {
    border: 1px solid #C7C7C7;
    background: white;
    border-radius: 5px;
}

.right {
    margin-top: 15px;
    &__item {
        align-items: center;
        display: flex;
        gap: 17px;
        margin-bottom: 17px;
    }

    &__input {
        width: 20px;
        height: 20px;
        display: block;
        opacity: 0;
    }

    &__label {
        cursor: pointer;
        opacity: 0.4;
        font-size: 18px;
        display: block;
        position: relative;
        &::before {
            z-index: -1;
            border: 1px solid #000;
            width: 20px;
            height: 20px;
            left: -38px;
            position: absolute;
            content: '';
        }
    }

    &__label:hover {
        opacity: 0.6;
    }

    &__input:checked+&__label {
        opacity: 1;
        &::before {
            background: url('./check.png') center/80% no-repeat;
        }
    }
}

.bottom {
    position: absolute;
    bottom: 32px;
    right: 39px;

    &__btn {
        @include btn();
        padding: 16px 117px;
        font-size: 22px;
        margin-bottom: 10px;
        &.disable {
            opacity: 0.7;
            cursor: auto;
            &:hover {
                transform: none;
            }
        }
    }

    &__required {
        color: #949494;
        font-size: 14px;
    }
}

.wrongInput {
    position: relative;
    input {
        border: 1px solid #FF5959 !important;
        box-shadow: 0px 0px 20px 0px rgba(255, 89, 89, 0.20) !important;
    }
    &::after {
        width: 100%;
        display: block;
        content: 'Введите корректные данные';
        position: absolute;
        bottom: -20px;
        left: 15px;
        font-size: 14px;
        color: #FF5959;
    }
}

@media (max-width: 767.98px) {
    .form {
        flex-direction: column;
    }

    .right {
        display: none;
    }

    .bottom {
        position: static;
        &__btn {
            width: 100%;
            font-size: 20px;
        }
    }

    .left {
        &__input {
            width: 100%;
        }
    
        &__selectWrap {
            width: 100%;
        }
    
        &__select {
            width: 100%;
        }
    
        &__range {
            width: 100%;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 40px;
        }
    
        &__rangeWrap {
            width: 100%;  
        }
    
        &__rangeSelect  {
            max-width: 100%;
            width: 100%;
            & > [class~="p-inputtext"] {
                width: 100%;
                font-size: 14px;
                padding: 13px 42px;
                &::placeholder {
                    text-align: center;
                }
            }        
        }
    }
}